<%-include("../layouts/header")%>

<!-- navbar -->

<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
             
            </ul>
            <form class="d-flex" type="search" action="/admin/users" role="search" method="GET" >
              <%if(locals.searchdata){%>
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"  value="<%=locals.searchdata%>" name="data">
              <%}else{%>
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"  value="" name="data">
              <%}%>
              <button style="margin-right: 20px;" class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <a href="/admin/logout" class="btn btn-danger">logout</a>
          </div>
        </div>
      </nav>
</header>

<main>
    <a  class="btn btn-success float-end me-4 mt-3" data-bs-toggle="modal" data-bs-target="#exampleModal">add new user</a>

    <div class="container">

        <table class="table">
            <thead>
              <tr>
                <th scope="col">Image</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Update</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody>
                <%users.forEach((user)=>{%>
              <tr  style="align-items: center;">
                <th scope="row">
                    <%if(user.image){%>
                        <img width="80px" height="80px" style="border-radius: 100%;" src="/public/images/<%=user.image%>" alt=""
                    <%}%>
                    <img width="80px" height="80px" style="border-radius: 100%;" src="/public/images/1711727025368-unknown(2jpg.jpg" alt="">
                </th>
                <td><%=user.name%></td>
                <td><%=user.email%></td>
                <td><%=user.phone%></td>
                <td><a class="btn btn-primary" href="/admin/update/<%= user._id%>">Update</a></td>
                <td><a class="btn btn-danger" href="/admin/delete/<%= user._id %>">Delete</a></td>

              </tr>
             <%})%>
            </tbody>
          </table>
    </div>

<!-- Modal -->

  
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">add new user</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/admin/userupload" method="post" enctype="multipart/form-data" id="form">
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Name:</label>
            <input type="text" class="form-control" id="recipient-name" name="name"  required>
          </div>

          <div class="mb-3">
              <label for="name" class="col-form-label">Email:</label>
              <input type="text" class="form-control" id="recipient-name" name="email" id="email"   required>
            </div>
            <p class="text-danger" id="emailErr"></p>
            <div class="mb-3">
              <label for="phone" class="col-form-label">Phone:</label>
              <input type="text" class="form-control" id="recipient-name" name="phone" id="phone"  required>
            </div>
            <p class="text-danger" id="phoneErr"></p>
            <div class="mb-3">
              <label for="phone" class="col-form-label">Password:</label>
              <input type="password" class="form-control" id="recipient-name" name="password" id="password"  required>
            </div>
            <p class="text-danger" id="passwordErr"></p>
            <div class="mb-3">
              <label for="image" class="col-form-label" >Image:</label>
              <input type="file" class="form-control" id="recipient-name" name="image">
            </div>
         <button  type="submit" class="btn btn-primary"  data-bs-dismiss="modal">Add User</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
       
      </div>
    </div>
  </div>
</div>

</main>


<script>
  const form = document.getElementById("form")
  const emailErr = document.getElementById("emailErr")
  const phoneErr = document.getElementById("phoneErr")
  const passwordErr = document.getElementById("passwordErr")
  let err = false

  form.addEventListener('submit',(e)=>{
      const email = document.getElementById("email").value
      const phone = document.getElementById("phone").value
      const password = document.getElementById("password").value.trim()
      //email validation
      emailValidate(email)
      phoneValidate(phone)
      passwordValidate(password)
      if(err){
          e.preventDefault()
      }
      //phone validation
      
  })

 function emailValidate(email){
  let reg = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;

  const result = reg.test(email)
  if(!result){
      emailErr.innerHTML = "check entered email is correct"
      err = true
  }
 }

 function phoneValidate(phone){
   if(phone.length<10){
      
      phoneErr.innerHTML = "check entered phone number is correct"
      err = true
   }
 }

 function passwordValidate(password){
   if(password.length<8){
      passwordErr.innerHTML = "check entered password is correct"
      err = true
   }
 }
  
</script>



<%-include("../layouts/footer")%>

