<%-include("../layouts/header")%>
<link rel="stylesheet" href="/public/styles/user/home.css">

<div class="container main mt-5">
    <div class="imgbox">
        <% if (user.image) { %>
            <img width="100%" height="100%" src="/public/images/<%=user.image%>" alt="" class="img">
        <% }else{ %>
        <img  src="/public/images/unknown(2jpg.jpg" alt="" class="img">
        <%}%>
    </div>
    

    <div class="details">
        <%if(user){%>
        <h1><%= user.name%></h1>
        <h3><%= user.email%></h3>
        <h3><%= user.phone%></h3>
        <%}%>
    </div>

    <div class="btns">
        <a href="" class="btn btn-primary update" data-bs-toggle="modal" data-bs-target="#exampleModal">Update Profile</a>
        <a href="/logout" class="btn btn-danger logout">Logout</a>
    </div>
</div>

<!-- Modal -->

  
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Update Profile</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/userupload" method="post" enctype="multipart/form-data">
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Name:</label>
              <input type="text" class="form-control" id="recipient-name" name="name" value= "<%=user.name%>" required>
            </div>

            <div class="mb-3">
                <label for="name" class="col-form-label">Email:</label>
                <input type="text" class="form-control" id="recipient-name" name="email" value= "<%=user.email%>" required>
              </div>

              <div class="mb-3">
                <label for="phone" class="col-form-label">Phone:</label>
                <input type="text" class="form-control" id="recipient-name" name="phone" value= "<%=user.phone%>" required>
              </div>
              <div class="mb-3">
                <label for="image" class="col-form-label" >Image:</label>
                <input type="file" class="form-control" id="recipient-name" name="image">
              </div>
           <button  type="submit" class="btn btn-primary"  data-bs-dismiss="modal">Save Changes</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
         
        </div>
      </div>
    </div>
  </div>


<%-include("../layouts/footer")%>

